body {
    font-family: Arial, sans-serif;
    text-align: center;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 10px 0;
}

#manipulation-controls button {
    margin: 10px;
    padding: 5px 15px;
    font-size: 16px;
    cursor: pointer;
}

#image-display {
    margin-top: 20px;
}

#previewContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#previewSection {
    text-align: center;
}

#imagePreview {
    max-width: 100%;
    max-height: 800px;
    display: block; /* Adjust as needed */
}

#manipulationSection {
    text-align: center;
    margin-top: 20px;
}

#cutButton {
    margin-top: 10px; /* Adds space between the image and the button */
}
/* Ensure the convert section is centered as well */
#convertSection {
    text-align: center;
    margin-top: 20px;
}

/* Add styles for the save button and other elements as needed */

#actions {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

/* Additional styles for buttons and other elements */

