body {
    font-family: Arial, sans-serif;
    text-align: center;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 10px 0;
}

#manipulation-controls button {
    margin: 10px;
    padding: 5px 15px;
    font-size: 16px;
    cursor: pointer;
}

#image-display {
    margin-top: 20px;
}

#previewContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#previewSection {
    text-align: center;
}

#imagePreview {
    max-width: 100%;
    max-height: 800px;
    display: block; /* Adjust as needed */
}

#manipulationSection {
    text-align: center;
    margin-top: 20px;
}

#cutButton {
    margin-top: 10px; /* Adds space between the image and the button */
}
/* Ensure the convert section is centered as well */
#convertSection {
    text-align: center;
    margin-top: 20px;
}

/* Add styles for the save button and other elements as needed */

#actions {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

/* Additional styles for buttons and other elements */

.resizable-container {
    display: inline-block;
    position: relative;
}

.resizable {
    resize: both;
    overflow: auto;
}

#imageContainer {
    resize: both;
    overflow: auto;
    max-width: 100%;
    max-height: 80vh; /* Adjust as needed */
    display: flex;
    justify-content: center;
    align-items: center;
}

#imagePreview {
    max-width: 100%;
    max-height: 100%;
}


.resizable {
    position: relative;
    /* Other styles... */
}

#resizeHandle {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 20px; /* Adjust size as needed */
    height: 20px; /* Adjust size as needed */
    background: #000; /* Choose a color that stands out */
    cursor: nwse-resize; /* This cursor indicates resizing */
    display: none; /* Hide the handle initially */
}

#seamCarveSlider {
    display: none; /* Slider is hidden initially */
    width: 80%; /* Adjust the width as needed */
    margin: 10px auto; /* Center the slider */
}

#currentWidth {
    display: inline-block;
    margin-left: 10px;
    width: 50px; /* Adjust as needed */
}



