<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Image Manipulation</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.css" />
</head>
<body>
    <h1>Upload an image</h1>
    <input type="file" name="image" id="imageInput" accept="image/*" onchange="previewImage();">
    <button id="saveButton">Save</button>

    <div id="previewContainer" class="resizable-container">
        <div id="previewSection">
            <h2>Preview:</h2>
            <div id="imageContainer" style="display: inline-block; position: relative;">
                <img id="imagePreview" src="" alt="Image preview..." style="width: 100%; height: auto;" />
                <div id="resizeHandle"></div>
            </div>
        </div>
        <button id="cutButton" style="display: none;">Cut</button>
        <input type="number" id="rotateInput" placeholder="Enter degrees" style="display: none;">
        <input type="range" id="seamCarveSlider" min="1" max="originalWidth" value="originalWidth"><span id="currentWidth"></span>
        <input type="text" id="filenameInput" placeholder="Enter desired filename">
        <div id="dimensions">
            Width: <span id="width"></span>px, Height: <span id="height"></span>px, Type: <span id="fileType"></span>
        </div>
        
    </div>

    <div id="manipulationSection">
        <h2>Manipulations:</h2>
        <button id="cropButton">Crop</button>
        <button id="shrinkButton">Shrink/Expand</button>
        <button id="seamCarveButton">Seam Carve</button>
        <button id="rotateButton">Rotate</button>
        <!-- Additional manipulation buttons can be added here -->
    </div>

    <div id="convertSection">
        <h2>Convert:</h2>
        <select id="imageFormat">
            <option value="jpeg">JPEG</option>
            <option value="png">PNG</option>
        </select>
        <button id="convertButton">Convert</button>
    </div>

    <!-- JavaScript files -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.js"></script>
    <script src="/static/js/script.js"></script>
    <script src="/static/js/preview.js"></script>
    <script src="/static/js/cropper_init.js"></script>
    <script src="/static/js/save.js"></script>
    <script src="/static/js/shrink.js"></script>
    <script src="/static/js/resize_handle.js"></script>
    <script src="/static/js/seam.js"></script>
    <script src="/static/js/rotate.js"></script>
</body>
</html>
